@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

:root {
  --primary-color: #d32f2f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Serif", serif, Arial, Helvetica, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
  height: 100%;
}

a {
  color: var(--primary-color);
}

/* Need to remove this before deployment. */
.firebase-emulator-warning {
  display: none;
}
