.fab-container {
  position: fixed;
  right: 50px;
  bottom: 50px;
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-items: right;
}

.mini-fab__container {
  display: grid;
  grid-template-rows: repeat(2, auto);
  justify-items: right;
  row-gap: 10px;
  transition: all 2s ease-in-out;
  margin-bottom: 10px;
}

.hide {
  display: none;
  transition: all 2s ease-in-out;
}

.fab {
  width: 56px;
  height: 56px;
  background-color: var(--primary-color);
  border-radius: 50%;
  box-shadow: 1px 2px 10px 0 rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.speed-dial {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  column-gap: 10px;
  cursor: pointer;
  margin-right: 8px;
}

.speed-dial span {
  background: white;
  padding: 4px 8px;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.fab img {
  height: 28px;
  width: 28px;
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(139deg) brightness(103%) contrast(101%);
}

.fab-mini {
  width: 40px;
  height: 40px;
}

@media (max-width: 480px) {
  .fab-container {
    position: fixed;
    right: 1em;
    bottom: 1em;
  }
}

@media (min-width: 481px) and (max-width: 1152px) {
  .fab-container {
    position: fixed;
    right: 2em;
    bottom: 2em;
  }
}
